@mixin pad{
  @media(max-width:992px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:767px){
    @content;
  }
}

$black100: #020202;
$black80: #525252;
$black60: #919191;
$black40: #D1D1D1;
$black20: #F2F2F2;
$white: #ffffff;