@import '_reset.scss';
@import 'variable.scss';
@import '_mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

*,*:before,*:after {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}
body {
  color: $black100;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 20px;
  line-height: 120%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.tools-list-container { 
  max-width: 1296px;
  margin: 0 auto;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:24px;
    li {
      width: 416px;
      border: $black20 1px solid;
      border-radius: 16px;
    }  
  }
}

.tools-img{
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  img{
    transition: transform .5s ease;
    &:hover{
      transform: scale(1.2)
    }
  }
}

.tools-title{
  padding: 20px 32px;
  h3 {
    font-weight: 900;
    margin-bottom: 12px;
  }
  > p{
    color: $black80;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}

.tools-ai{
  display: flex;
  justify-content: space-between;
  border-top: $black20 1px solid;
  border-bottom: $black20 1px solid;
  span{
    padding: 20px 32px 20px 32px;
    &:first-child{
      font-weight: 700;
    }
  }
}
.tools-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    padding: 20px 32px 20px 32px;
  }
  a{
    color: $black100;
  }
}